{% extends 'base.html' %}

{% block title %}
CF-Vis | Compare
{% endblock %}

{% block content %}

<div id="rating_stats_chart">{{ output_rating_stats|safe }}</div>
<br>

<div id="contests_chart">{{ output_contests|safe }}</div>
<br>

<table>
    <thead>
        <tr>
            <td>Worst and Best&nbsp;</td>
            <td>&nbsp;{{ handle1 }}&nbsp;</td>
            <td>&nbsp;{{ handle2 }}&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;Best&nbsp;</td>
            <td>&nbsp;{{ my_dict3.BestRank }}&nbsp;</td>
            <td>&nbsp;{{ my_dict4.BestRank}}&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;Worst&nbsp;</td>
            <td>&nbsp;{{ my_dict3.WorstRank }}&nbsp;</td>
            <td>&nbsp;{{ my_dict4.WorstRank}}&nbsp;</td>
        </tr>
    </tbody>
</table>

<div id="unsolved_chart">{{ output_unsolved|safe }}</div>
<br>

<div id="max_submission_chart">{{ output_max_submission|safe }}</div>
<br>

<div id="max_ac_chart">{{ output_max_ac|safe }}</div>
<br>

<h4>Common Problems Solved: {{common_problems_solved}}</h4>

<div id="levels_stats_chart">{{ output_levels|safe }}</div>
<br>

<div id="problem_ratings_stats_chart">{{ output_problem_ratings|safe }}</div>
<br>

<div id="tags_stats_chart">{{ output_tags|safe }}</div>
<br>

    <h1>Common Contests</h1>
    <table>
        <thead>
            <tr>
                <td>Contest Name&nbsp;</td>
                <td>&nbsp;{{ handle1 }}&nbsp;</td>
                <td>&nbsp;{{ handle2 }}&nbsp;</td>
                <td>&nbsp; Difference &nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for value in result  %}
            <tr>
                <td><a href="https://codeforces.com/contest/{{value.0}}">{{value.1}}&nbsp;</a></td>
                <td>&nbsp;{{ value.2 }}&nbsp;</td>
                <td>&nbsp;{{ value.3 }}&nbsp;</td>
                <td>&nbsp;{{ value.4 }}&nbsp;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}